#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0f0f0fb4;
  background-position: center;
  background-size: cover;
  background-size: 600% 600%;
  animation: gradientBackground 20s ease infinite;
  fill-opacity: 0.5;
}

button,.btn {
  background-color: #202020;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #202020(--primary);
   color: #202020(--primary-foreground); 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card,
.form-card {
  padding: 2em;
}

form,
.form-card {
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 2rem;
  border-radius: 1rem;
}

.read-the-docs {
  color: #888;
}

.bottom-left-container {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.bottom-right-stack {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-button-wrapper {
  background-color: #202020;
  color: white;
  border-radius: 8px;
  padding: 0px 1px;
  min-width: 1px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}